body {
  background: #485563; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #29323c,
    #485563
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #29323c,
    #485563
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.big {
  margin: 20px auto;
  width: 50%;
  background-color: #d9d9d9;
  text-align: center;
  height: 300px;
  width: 500px;
}

.big h1 {
  color: #29323c;
  font-size: 50px;
  font-family: "Raleway", sans-serif;
}

.big input {
  margin: 20px auto;
  text-align: center;
  font-family: "Raleway", sans-serif;
}

.big button {
  color: #29323c;
  background-color: white;
  font-family: "Raleway", sans-serif;
}

.header {
  margin: 20px auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px 10px 10px 10px;
}

.data-window {
  padding-top: 30px;
  width: 900px;
}

.table {
  color: #d9d9d9;
  font-family: "Raleway", sans-serif;
}

h2 {
  text-align: center;
  color: #d9d9d9;
  margin: 20px auto;
  font-family: "Raleway", sans-serif;
}

.gallery-height {
  display: flex;
  flex-direcententtion: column;
  flex-wrap: wrap;
  max-height: 700px;
  align-content: center;
}

h1 {
  text-align: center;
  color: #fff;
  text-transform: capitalize;
  font-family: "Raleway", sans-serif;
}

.artist-img {
  width: 25%;
  margin: 5px;
  color: aliceblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 45px;
  border-radius: 2px;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.artist-grid:hover .image {
  opacity: 0.3;
}

.artist-grid:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
.recentTable {
  table#table1 {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
}

.tbody {
  margin-left: auto;
  margin-right: auto;
}
