
body {
  background:#ffcccb;
 box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    color: black;
    font-family: ;
    font-weight: 500;
    
  }


.big {
  margin: 20px auto;
  width: 50%;
  background-color: grey;
  text-align: center;
  height: 20rem;
  width: 40rem;
  border-radius: 2.5rem;
}


.big h1 {
  color: #29323c;
  font-size: 50px;
  font-family: "Raleway", sans-serif;
}

.big input {
  margin: 20px auto;
  text-align: center;
  font-family: "Raleway", sans-serif;
}

.big button {
  color: #29323c;
  background-color: white;
  font-family: "Raleway", sans-serif;
}

.col-md-12 {
  display: flex;
  justify-content: center;
  left: 1%;
right: 120%;


}
.header {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  width: 50%;
}

.data-window {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}
.recBtn {
  .button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
  }
  
.table {
  display: flex;
  margin-left: auto;

  margin-right: auto;
  color: #d9d9d9;


h2 {
  margin-left: 85%;
  text-align: right;
  color: #d9d9d9;
  margin: 20px auto;
  font-family: "Raleway", sans-serif;
}

.gallery-height {
  display: flex;
  flex-direcententtion: column;
  flex-wrap: wrap;
  max-height: 700px;
  align-content: center;
}

h1 {
  text-align: center;
  color: #fff;
  text-transform: capitalize;
  font-family: "Raleway", sans-serif;
}

.recentTable {
  width: 75%;
  display: flex;
  justify-content: center;
  color: #d9d9d9;
  margin: 2rem auto; 
}



.text {
  color: white;
  font-size: 1.6rem;
  padding: 1.6rem 3.2rem;
}

.tbody {
  width: 75%;
  display: flex;
  justify-content: center;
  color: #d9d9d9;
  margin: 2rem auto; 
}
.monkey {
  margin: auto;
  right: 0px;
  bottom: 0px;

}